#Since I've started trying Rust which produces binaries....
#Start by IGNORE ALL:
*

# Unignore all with extensions
!*.*

#Sundry output / temp formats
*pyc
*input.txt
*json
hello.*
*pdf
*prof
*test
.o
